$backgroundColor1: #684c41;
$backgroundColor2: #7f59b0;
$backgroundColor3: #fdae38;
$backgroundColor4: #f75435;
$backgroundColor5: #3a3e59;
$cardColor: #ced4da;
$textColor3: #d6ecf3;
$textColor1: #00001c;
$textColor2: #000000;
$borderColor: #d9a3ad;
$fontFamily1: 'M PLUS Rounded 1c', sans-serif;
$fontFamily2: 'Monda', sans-serif;
$textFontSize: 1.5rem;
$headingFontSize: 3.5rem;
$letterSpacing: 5px;
$white: #ffffff;
$transition: all 0.4s ease-in-out;
$boxShadow: 0px 2px 6px #ffffff;
$textShadow: 12px 11px 25px rgba(0, 0, 0, 0.89);
